
{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "ie >= 11"
          ]
        }
      }
    ], "react"
  ],
  "plugins": [
    "lodash",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-class-properties"
  ]
}