{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-modules-commonjs",
    ["@babel/plugin-transform-spread", { "loose": true }],
    [ "inline-replace-variables",
      {
        "__DEV__": {
          "type": "node",
          "replacement": "process.env.NODE_ENV !== 'production'"
        }
      }
    ],
    "lodash"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        ["@babel/plugin-transform-modules-commonjs", { "loose": true }]
      ]
    },
    "test": {
      "presets": ["env"],
      "plugins": [],
    }
  }
}
