
{
  "presets": [["env", { "modules": false, "loose": true }], "react"],
  "plugins": [
    ["inline-replace-variables", 
      {
        "__DEV__": {
          "type": "node",
          "replacement": "process.env.NODE_ENV !== 'production'"
        }
      }
    ],
    "lodash",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-class-properties"
  ],
  "env": {
    "commonjs": {
      "presets": [["env", { "loose": true }]],
      "plugins": [
        ["inline-replace-variables", 
          {
            "__DEV__": {
              "type": "node",
              "replacement": "process.env.NODE_ENV !== 'production'"
            }
          }
        ],
        "lodash",
        "transform-object-rest-spread",
        "transform-export-extensions",
        "transform-class-properties"
      ]
    }
  }
}
