###################
#       Node      #
###################

.bin
node_modules
dist/**

###################
#    Logs & Tmp   #
###################

tmp/*
log/*
*.log

###################
#     OS/IDE     #
###################

Desktop.ini
.DS_Store
.vscode/**
.idea
.env

###################
#       Keep      #
###################

!.keep
